
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa:wght@500&family=Exo+2:wght@200&family=Josefin+Sans:ital,wght@1,300&family=Montserrat:wght@200&family=Quicksand&family=Satisfy&family=Titillium+Web:wght@200&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa:wght@500&family=Exo+2:wght@200&family=Josefin+Sans:ital,wght@1,300&family=Montserrat:wght@200&family=Quicksand&family=Rajdhani:wght@300;400&family=Satisfy&family=Titillium+Web:wght@200&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa:wght@500&family=Exo+2:wght@200&family=Josefin+Sans:ital,wght@1,300&family=Lusitana&family=Montserrat:wght@200&family=Quicksand&family=Rajdhani:wght@300;400&family=Satisfy&family=Titillium+Web:wght@200&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa:wght@500&family=Exo+2:wght@200&family=Gentium+Book+Basic&family=Josefin+Sans:ital,wght@1,300&family=Lusitana&family=Montserrat:wght@200&family=Quicksand&family=Rajdhani:wght@300;400&family=Satisfy&family=Titillium+Web:wght@200&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Comfortaa:wght@500&family=Exo+2:wght@200&family=Gentium+Book+Basic&family=Josefin+Sans:ital,wght@1,300&family=Lusitana&family=Montserrat:wght@200&family=Quicksand&family=Rajdhani:wght@300;400&family=Satisfy&family=Smooch+Sans&family=Titillium+Web:wght@200&family=Vollkorn&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white ;

}



.navbar { 
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
}
.nav-item {
    margin-left: 20px;
}

.btn-outline-success { 
    border-color: #c82b2b;
    color:#c82b2b;
}

.btn-outline-success:hover { 
    background-color: #c82b2b;
    border-color: #c82b2b;
}



.container10{
 width: 960px;
 margin: 50px auto 0;
 background-color:white;
 border: 3.5px solid grey ;
 padding: 15px;
 
 display: grid;
 grid-template-columns: 1fr 1fr; 
}

.description{
    font-family: 'Smooch Sans', sans-serif;
    margin-right: 50px ;
}

.description h1{
    margin: 50px 0 10px 0;
    font-weight: 300;
}

.description p{
    font-size: 30px;
}

.description span{
    margin-top:15px ;
    display: inline-block;
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.description button{
    font-size: 30px;
    background-color: white;
    padding: 15px 50px;
    margin-top: 40px;
    cursor: pointer;
    border: 3px solid black ;
    transition: 0.3s;
    color: black;
   
}
.description button:hover {
    background-color: #c82b2b;
    color: white;
    border: 3px solid white;
}

.description .buy{
    
}

.description .cart{
   
    margin-left: 10px ;
}

.xzoom-thumbs img{
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid #ccc;
}

.xzoom { 
    width: 400px;
}